# OPEN AI API KEY
OPENAI_API_KEY=OPEN-API-KEY
# AI SUMMARY PROMPT
AI_PROMPT="Summarize the Visual Studio code file. In this order, provide a 3 sentence summary of the file under **Summary:**, a number list of the function/method names and a short description for each under **Functions/Methods:**, a number list of the variables and a short description for each under **Variables:** and your guess as to whether or not the file is a standard .NET structure file OR if the file contains novel and unique functionality under **Guess:**. Do not return ANY CODE, only the sections requested."
